<footer id="page-footer">
    <a href="https://github.com/CSC-648-SFSU/csc648-03-fa23-team02" target="_blank">Copyright 2023 Team-02</a>
    <a href="/contact" target="_blank">Contact Us</a>
    <a href="/privacy" target="_blank">Privacy Policy</a>
    <a href="/terms" target="_blank">Terms of Service</a>
</footer>