{% set title = "Dashboard" %}
{% set css = ["dashboard.css", "dashboard_message.css", "dashboard_post.css"] %}
{% set js = ["dashboard.js"] %}
{% extends "base.jinja2" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <div class="header-content">
            <h1>Dashboard</h1>
            {# TODO: replace {{ user }} with get_curr_user() from account.py in 'feature/navbar-rework' branch #}
            <h2>Welcome {{ user }}</h2>
        </div>
    </div>

    <div class="dashboard-container">
        <div class="dashboard-tabs">
            <input type="radio" id="tab1" name="tabs" checked>
            <label class="tab-label my-posts" for="tab1" onclick="showTab('my_posts')">My Posts</label>

            <input type="radio" id="tab2" name="tabs">
            <label class="tab-label sent" for="tab2" onclick="showTab('sent')">Sent</label>

            <input type="radio" id="tab3" name="tabs">
            <label class="tab-label received" for="tab3" onclick="showTab('received')">Received</label>
        </div>

        <div class="dashboard-body">
            <div class="tab-content" id="my_posts" style="display: block;">
                {# Content for My Posts tab #}
                {% if my_posts | length == 0 %}
                    <h3>You do not have any approved tutor applications at this time.</h3>
                {% else %}
                {% for post in my_posts %}
                    {% set post=post %}
                    {% include '/partials/dashboard_post.jinja2' %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="tab-content" id="sent" style="display: none;">
                {# Content for Sent tab #}
                {% if sent | length == 0 %}
                    <h3>No sent messages.</h3>
                {% else %}
                {% for msg in sent %}
                    {% set msg_id = msg.msg_id %}
                    {% set tutor = tutor_db.query.filter(tutor_db.tutor_id == msg.msg_listing).first() %}
                    {% set subject = subj_db.query.filter_by(subj_id=tutor.tutor_subj).first().subj_short + ' ' + tutor.tutor_subj_num %}
                    {% include '/partials/dashboard_message.jinja2' %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="tab-content" id="received" style="display: none;">
                {# Content for Received tab #}
                {% if received | length == 0 %}
                    <h3>No received messages.</h3>
                {% else %}
                {% for msg in received %}
                    {% set msg_id = msg.msg_id %}
                    {% set tutor = tutor_db.query.filter(tutor_db.tutor_id == msg.msg_listing).first() %}
                    {% set subject = subj_db.query.filter_by(subj_id=tutor.tutor_subj).first().subj_short + ' ' + tutor.tutor_subj_num %}
                    {% set sender = user_db.query.filter(user_db.user_id == msg.msg_student).first().user_name %}
                    {% include '/partials/dashboard_message.jinja2' %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
