{% set title = tutor.tutor_name ~ "'s Profile" %}
{% set css = ["tutor.css"] %}
{# {% set js = [""] %} #}
{% extends "base.jinja2" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<div id="tutor-profile" class="bg">
    {% if tutor.tutor_photo != None %}
    <img src="{{ url_for('static', filename=('tutors/'+ tutor.tutor_photo + '/photo.jpg')) }}" alt="{{ tutor.tutor_name }}'s Photo">
    {% else %}
    <img src="{{ url_for('static', filename='image/test/def_pfp.jpg') }}" alt="{{ tutor.tutor_name }}'s Photo">
    {% endif %}
    <span id="tutor-name">{{tutor.tutor_name}}</span>
</div>
<br>

<div class="row">
    <div class="left">
        <div id="tutor-media" class="bg">
            <span>CV/Flyer:</span>
            {% if tutor.tutor_cv != None %}
            <a class="file" href="{{ url_for('static', filename=('tutors/' +tutor.tutor_cv + '/cv.pdf')) }}" target="_blank">{{ cv_filename(tutor.tutor_cv) }}</a>
            {% else %}
            <span class="file"> None Provided </span>
            {% endif %}
            <br>
            <br>
            <span>Video:</span>
            <a class="file" href="{{ tutor.tutor_vid }}" target="_blank">YouTube Link</a>
            <br>
        </div>
    </div>

    <div class="right">
        <div id="tutor-info">
            <table>
                <tr>
                    <th >Subject:</th>
                    <td class="bg">{{ subj_db.query.filter_by(subj_id=tutor.tutor_subj).first().subj_short }}</td>
                </tr>
                <tr>
                    <th >Class:</th>
                    <td class="bg">{{ tutor.tutor_subj_num }}</td>
                </tr>
                <tr>
                    <th >Description:</th>
                    <td class="bg">{{ tutor.tutor_bio }}</td>
                </tr>
            </table>
        </div>

        {# Link to messaging page, should be opening in new page #}
        <a id="message-button" class="bg" href="{{ url_for('message_tutor', tutor_id=(tutor.tutor_id)) }}" target="_blank">Send Message</a>
    </div>
</div>
{% endblock %}